loguru
python-dotenv
litellm
tenacity
rpyc
aiofiles
colorama

black
pytest
pytest-asyncio

tree_sitter
tree_sitter_python

jinja2
intercode-bench
mem0ai
ollama
#embedchain>=0.1.120
nltk
matplotlib

SQLAlchemy
sqlmodel
aiosqlite
asyncpg
dill
antlr4-python3-runtime

ell-ai
optillm
colorama

#ldb dependencies
jsonlines==3.1.0
datasets
astunparse
#transformers
accelerate
astor
graphviz
#vllm
astroid
pysnooper
#ldb dependencies
#llmdebugger
azure-identity
azure-ai-inference

#smolagents
#browser-use